<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Practica 1 Segundo Parcial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Practica 1 Segundo Parcial</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <strong>Bienvenido A mi Login</strong><br>

    <img src="https://image.flaticon.com/icons/png/512/206/206853.png"><br>
    <ion-item>
      <ion-label>
        Correo
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-button (click)="onIniciar()">Entrar</ion-button>
    <ion-button routerLink="/formulario-registro">Registro</ion-button>

  </div>
  
</ion-content>